.users{
    display: block;
    
}

  .user-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
  }

  .user-info {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /* Fixed width for each user card */
    margin: 10px;
  }

  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd; /* Optional: Adds a border around the image */
  }

  .user-name {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
  }

  .view-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .view-button:hover {
    background-color: #0056b3;
  }